.pokedex {
  background-color: rgb(200, 30, 30);
  padding: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokedex h1 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
.tela {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(169, 169, 169);
  padding: 2rem;
  border-radius: 20px;
}
.telaPokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
